// CORES PRINCIPAIS
$principal-white: #F1F1ED ;
$principal-gray: #353333 ;
$principal-black: #0A0909;

// GRADIENTES
$gradient-1: linear-gradient(225deg, #0A0909 0%, #353333 100%);
$gradient-2: linear-gradient(180deg, #F1F1ED 0%, #353333 100%);
$gradient-3: radial-gradient(91.67% 91.67% at 0% 0%, #0A0909 0%, #F1F1ED 100%);