// DESKTOP px
$title-desktop: 64px;
$title-secondary-desktop: 32px;
$menu-desktop: 20px;
$botao-desktop: 18px;
$par-desktop: 24px;

// TABLET px
$title-tablet: 64px;
$title-secondary-tablet: 32px;
$menu-tablet: 20px;
$botao-tablet: 18px;
$par-tablet: 18px; 

// MOBILE px
$title-mobile: 36px;
$title-secondary-mobile: 20px;
$menu-mobile: 18px;
$botao-mobile: 18px;
$par-mobile: 16px;